*{
    box-sizing: border-box;
}

html{
    font-family: 'Chivo', sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #121725;
}

#mobile{
  background-image: url('imgs/mobile/image-host.jpg');
  background-repeat: no-repeat;
  width: 375px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: inset 0 0 0 1000px rgba(18,23,37,.8);
  
}

.mobile-logo{
    width: 8rem;
    margin-top: 3.8rem;
}



